/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  overflow-y: auto;
}

.task-form {
  background-color: #f7f7f7;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.task-form h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
}

#task-title,
#task-date {
  width: 100%;
  height: 2em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.task-list {
  margin-top: 2em;
  width: 80%;
  margin: 0 auto;
}

#filter-tasks {
  margin-bottom: 1em;
}

.tasks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  background-color: #f7f7f7;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

.task h3 {
  margin-top: 0;
}

.task .date {
  font-size: 0.8em;
  color: #666;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

button.update,
button.delete {
  margin-left: 10px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.update {
  background-color: #4caf50;
  color: #fff;
}

button.delete {
  background-color: #f44336;
  color: #fff;
}

.edit-form {
  display: none;
  background-color: #f7f7f7;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.edit-form h2 {
  margin-top: 0;
}

.edit-form .form-group {
  margin-bottom: 1em;
}

.edit-form label {
  display: block;
  margin-bottom: 0.5em;
}

.edit-form input[type="text"],
.edit-form input[type="date"] {
  width: 100%;
  height: 2em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-form button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-form button[type="submit"]:hover {
  background-color: #3e8e41;
}
